.title{
top: 10px;
left: 16px;
width: 133px;
height: 25px;
text-align: left;
font: normal normal normal 20px/25px Merriweather Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
font-weight: 700;
margin-left: 6px;
}
.dot{
top: 20px;
left: 160px;
width: 8px;
height: 8px;
background: #5FA8D3 0% 0% no-repeat padding-box;
opacity: 1;
margin-top: 10px;
    border-radius: 5px;
}
.exam-title{
top: 10px;
left: 173px;
width: 99px;
height: 25px;
text-align: center;
font: normal normal normal 20px/25px Merriweather Sans;
letter-spacing: 0px;
color: #2F6690;
opacity: 1;
}
.time-left{
  text-align: center;
  font: normal normal normal 14px/16px Raleway;
  color: #FFFFFF;
  opacity: 1;
  margin-top: 5px;
}
.time-left-container{
  width: 105px;
  height: 30px;
  background: #2F6690 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}
.selected-text{
left: 43px;
width: 58px;
font: normal normal normal 14px/18px Merriweather Sans;
color: #FFFFFF;
position: absolute;
}
.non-selected-text{
left: 30px;
width: 88px;
text-align: center;
font: normal normal normal 14px/18px Merriweather Sans;
letter-spacing: 0px;
color: #136AAC;
opacity: 1;
position: absolute;
}
.question-number{
  margin-top: 10px;
  /* text-align: center; */
  text-decoration: underline;
  font: normal normal normal 20px/25px Merriweather Sans;
  letter-spacing: 0px;
  color: #2F6690;
  opacity: 1;
}
.question-text{
text-align: center;
font: normal normal normal 20px/24px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
margin-top: 6%;
}
.option-mark{
background: #2F6690 0% 0% no-repeat padding-box;
opacity: 1;
border-radius: 48%;
height: 31px;
width: 33px;
border: #62B6CB;
}
.option-mark-text{
  text-align: center;
font: normal normal medium 22px/27px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
padding-top: 3px;
font-size: 15px;
}
.option-text-container{
  background: #CAE9FFE6 0% 0% no-repeat padding-box;
border: 1px solid #62B6CB;
opacity: 1;
margin-left: 8px;
}
.option-text{
  text-align: left;
font: normal normal normal 20px/24px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.margin-top{   
   margin-top: 8%;
}
.candidate-image{
background: transparent url('https://st3.depositphotos.com/9881890/13307/i/1600/depositphotos_133078960-stock-photo-cute-smiling-boy.jpg') 0% 0% no-repeat padding-box;
border: 2px solid #62B6CB; 
border-radius: 5px;
opacity: 1; 
height: 50px;
width: 29%;
}
.candidate-message{
text-align: left;
font: normal normal medium 15px/21px Noto Sans JP;
letter-spacing: 0px;
color: #000000;
opacity: 1;
font-size: 15px;
font-weight: 700;
padding-top: 10px;
padding: 9px;
}
.question-marks-not-visited{
  background: #524d4d 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 48%;
  height: 24px;
  width: 24px;
}
.question-marks{
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.question-marks-text{
  font-size: 13px;
    font-weight: 500;
    margin-left: 7px;
}
.question-marks-not-answered{
  background: red 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 48%;
  height: 24px;
  width: 24px;
}
.question-marks-answered{
  background: #49ce49 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 48%;
  height: 24px;
  width: 24px;
}
.question-marks-marked{
  background: #00e7ff 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 48%;
  height: 24px;
  width: 24px;
}
.question-marks-review{
  background: #a5a505 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 48%;
  height: 24px;
  width: 35px;
}
.section-title{
  background: #62B6CB 0% 0% no-repeat padding-box;
opacity: 1;
height: 32px;
}
.section-title-text{
font: normal normal medium 16px/19px Roboto;
letter-spacing: 0px;
color: #1B1C1E;
opacity: 1;
font-weight: 600;
text-align: center;
font-size: 14px;
}
.question{
color: #1B1C1E;
opacity: 1;
font-size: 14px;
font-weight: 500;
}
.option-mark-not-attempted{
  background: #383a3c 0% 0% no-repeat padding-box;
opacity: 1;
border-radius: 48%;
height: 31px;
width: 33px;
border: #383a3c;
}
.option-mark-text1{
  text-align: center;
font: normal normal medium 22px/27px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
font-size: 15px;
}
.footer-container{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 82%;
  background-color: #2F6690;
  color: white;
  margin-top: 8%;
  text-align: center;
  height: 8%;
}
.action-buttons{
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}
.button-text{
text-align: left;
font: normal normal medium 20px/24px Roboto;
letter-spacing: 0px;
color: #5FA8D3;
opacity: 1;
font-size: 16px;
font-weight: 600;
}
.action-button-save{
background: #5FA8D3 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}
.action-button-save-text{
text-align: left;
font: normal normal medium 20px/24px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
font-size: 16px;
font-weight: 600;
}
.action-button-submit{
  position: fixed;
  right: 67px;
  bottom: 0;
  text-align: center;
  height: 6%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  margin-bottom: 8px;
}
.action-button-submit-text{
font: normal normal medium 20px/24px Roboto;
letter-spacing: 0px;
color: #5FA8D3;
opacity: 1;
font-size: 16px;
font-weight: 600;
}
body {
  padding : 10px ;
  
}
.nav>li>a:hover {
  text-decoration: none;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  background: #2f6690;
  color: white;
  width: 153px;
  border-radius: 21px;}

.nav-tabs .nav-link.active  {
  width: 153px;
  border-radius: 21px;
  border: 2px solid #2F6690;
}
.padding-bottom{
  padding-bottom: 7%;
}

.wrapper-1{
  width:100%;
  height:100vh;
  display: flex;
flex-direction: column;
}
.wrapper-2{
  padding :30px;
  text-align:center;
}
h1{
    font-family: 'Kaushan Script', cursive;
  font-size:4em;
  letter-spacing:3px;
  color:#5892FF ;
  margin:0;
  margin-bottom:20px;
}
.wrapper-2 p{
  margin:0;
  font-size:1.3em;
  color:#aaa;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing:1px;
}

@media (min-width:360px){
  h1{
    font-size:4.5em;
  }
}

@media (min-width:600px){
  .content{
  max-width:1000px;
  margin:0 auto;
}
  .wrapper-1{
  height: initial;
  max-width:620px;
  margin:0 auto;
  margin-top:50px;
  box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2);
}
  
}